@charset "utf-8";
/* CSS Document */

#schedule
{
	position:relative;
	top:-700px;
	left:180px;
	width:260px;
	height:250px;
	padding:10px;
	color:rgba(0,0,0,0.8);
}

#line1
{
	position:relative;
	top:10px;
	width:inherit;
	height:1px;
	border-top:rgba(0,0,0,0.5) thin solid;
	-webkit-box-shadow: rgba(0,0,0,0.5) 0px -4px 10px; /* Chrome, Safari */
	   -moz-box-shadow: rgba(0,0,0,0.5) 0px -4px 10px; /* Firefox */
		 -o-box-shadow: rgba(0,0,0,0.5) 0px -4px 10px; /* Opera */
			box-shadow: rgba(0,0,0,0.5) 0px -4px 10px; /* Standard syntax */
}

#line2
{
	position:absolute;
	bottom:0;
	width:inherit;
	height:1px;
	border-bottom:rgba(0,0,0,0.5) thin solid;
	-webkit-box-shadow: rgba(0,0,0,0.5) 0px 4px 10px; /* Chrome, Safari */
	   -moz-box-shadow: rgba(0,0,0,0.5) 0px 4px 10px; /* Firefox */
		 -o-box-shadow: rgba(0,0,0,0.5) 0px 4px 10px; /* Opera */
			box-shadow: rgba(0,0,0,0.5) 0px 4px 10px; /* Standard syntax */
}

.link_style
{
	color:rgba(0,0,0,0.7);
	text-decoration:none;
	font-variant:small-caps;
	font-size:18px;
	font-weight:bold;
}

#move
{
	position:relative;
	bottom:-10px;
	height:224px;
	width:inherit;
	font-size:14px;
	marquee-speed:slow;
	background:url(dtu_logo.png) no-repeat;
}

#move th
{
	padding-top:20px;
	text-align:left;
}

#move td
{
	padding-left:10px;
	color:rgba(0,0,0,0.8);
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#move a
{
	color:inherit;
}